body {
    font-family: 'Lato', sans-serif;
}

.header-title {
    color: #272727;
    font-size: 60px;
    font-weight: 900;
    max-width: 710px;
}

.section-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.header {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    gap: 30px;
}

.header-content {
    padding-left: 200px;
    padding-top: 150px;
    padding-bottom: 100px;
}

.header img {
    padding-right: 150px;
    padding-top: 50px;
}